* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, cursive;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #250250;
}
.container {
    padding: 50px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #230230;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.2);
}
.container h2 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 20px;
}
.container input {
    width: 300px;
    height: 40px;
    margin: 15px 0;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
}
.container button {
    margin: 10px 0;
    padding: 0 10px;
    width: auto;
    height: 35px;
    border: none;
    border-radius: 10px;
    background: #43ca00;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 1px;
    cursor: pointer;
}
.container button:hover {
    opacity: 0.8;
    transition: 0.3s;
}
.container a {
    color: #ffffff;
    letter-spacing: 1px;
}
.container a:hover {
    opacity: 0.5;
}
.close {
    scale: 0;
    position: absolute;
    transition-delay: 0.2s;
}
.chat {
    height: 95vh;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 5px;
}
.chat .chats {
    width: 300px;
    height: 100%;
    background: #250250;
    border-radius: 20px;
    margin-right: 5px;
}
.chat #messager {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    width: 785px;
    height: 100%;
    border-radius: 20px;
    margin: 0;
}
.chat .input {
    position: relative;
    bottom: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0;
    background: #230230;
}
.chat #message {
    width: 700px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    left: 0;
    letter-spacing: 0;
    font-size: 0.83em;
    border: none;
    outline: none;
}
.chat button {
    width: 80px;
    height: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-size: 0.83em;
    background: #ffffff;
    color: #000;
}
.chat button:hover {
    opacity: 0.9;
}
#messageText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background: #250250;
    overflow: auto;
}
#messageText::-webkit-scrollbar {
    background-color: inherit;
    border-radius: 20px;
}
#messageText .message-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #ffffff;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 8px;
    color: #000000;
    letter-spacing: 0;
    font-size: 0.8rem;
    list-style-type: none;
}
#messageText .message-container .message-time {
    font-size: 0.6em;
}